<div class="row">
  <div class="span8">
    <h2 class="cover-micropost-title"><%= @user.name %>的推荐</h2>
    <div class="list">
      <% @microposts.each do |micropost| %>
          <div>
            <i class="icon-heart"></i>
            <span><%= micropost.reputation_for(:likes).to_i %></span>
            <%= link_to micropost.title, micropost.video_url.presence || micropost.article_url%>
            <div class="pull-right">
              <% if micropost.user = current_user %>
                  <%= link_to '删除', micropost, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right" %>
              <% end %>

            </div>

          </div>
      <% end %>
    </div>
  </div>
</div>
