<div class="cover-micropost span12">
  <% if @micropost %>
      <h6 class="cover-micropost-title"><%= @micropost.title %></h6 >
  <% end %>
  <div class="icons">
    <i class="icon-heart icon-2x"></i>
    <i class="icon-heart icon-heart-red icon-2x"></i>
    <i class="icon-random icon-2x"></i>

    <%= link_to(shuffle_again_microposts_path, remote: true) do %>
        <i class="icon-refresh icon-spin"></i>
    <% end %>
  </div>

    <embed src="http://player.youku.com/player.php/sid/<%= @micropost.video_id %>/v.swf"
         allowFullScreen="true" quality="high"  align="middle"
         allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
</div>