<!--简洁版本-->

<div class="microposts span12">
  <div class="row">

    <div class="icons pull-right outside">

      <%= link_to(shuffle_again_microposts_path, remote: true) do %>

          <i class="icon-random icon-2x"></i>
          <div class="message">
            <h5>换一换</h5>
          </div>
      <% end %>
    </div>

   <%= render 'shuffle_microposts' %>

  </div>
</div>





