<div class="microposts span12">
  <div class="row">
    <% @microposts.each do |micropost| %>
        <%= link_to( micropost, remote: true) do %>

            <div class="micropost span4">
              <div class="row ">
                <div class="cover span2">
                  <% if micropost.video_id %>
                      <%= image_tag(micropost.video_thumbnail_url)  %>
                  <% else %>
                      <%= image_tag("http://img.bitpixels.com/getthumbnail?code=72621&size=200&url=#{micropost.article_url}") %>
                  <% end %>
                </div>
                <div class="info span2">
                  <h6><%= micropost.title %> </h6>
                </div>
              </div>
              <!--<a href="<%#= micropost.video_url %>" target="_blank">-->
              <!--<div class="cover-linkable"></div>-->
              <!--</a>-->

        <% end %>
        </div>
    <% end %>
  </div>
</div>