<!--简洁版本-->

<div class="microposts span12">
  <div class="row">

   <%= render 'shuffle_microposts' %>

      <%= link_to(shuffle_again_microposts_path, remote: true) do %>
         <div class="span6 offset3 shuffle-btn">
           <h2 class="white">摇一摇</h2>
         </div>
      <% end %>

  </div>
</div>





