<div class="shuffle_microposts">
  <% @microposts.each do |micropost| %>
      <%= link_to( micropost, remote: true, class: 'jump-to-cover micropost span4') do %>
          <% if micropost.video_id %>
            <%= image_tag(micropost.video_thumbnail_url, class: 'cover pull-left')  %>
          <% end %>
          <div class="info">
            <h6><%= micropost.title %></h6>
          </div>
          <div class="like">
            <% if current_user && current_user.like_for?(micropost) %>
              <i class="icon-heart icon-heart-red"></i>
            <% else %>
              <i class="icon-heart"></i>
            <% end %>
            <%= micropost.reputation_for(:likes).to_i %>
          </div>
      <% end %>
  <% end %>
</div>