<div class="row">
<!--
  <div class="microposts-title span12">
      <h4 class="inline">正在发生……</h4>
     <%= link_to 'More', index2_microposts_path%>
    </div>
-->

  <div class="discover_microposts span12">
    <div class="row">
      <%= render partial: "discover_microposts", collection: @discover_microposts, as: :micropost  %>


    </div>
    <div class="center">
      <%#= will_paginate @discover_microposts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>

</div>

