<div class="row">
  <div class="discover_microposts span12">
    <div class="row">
      <div class="micropost-notice span4 pull-right">
        <div class="content">
          <h4 class="title">欢迎来到just4Magic</h4>
          <h6>目前已经可以使用微博登陆，QQ群：198384613，欢迎加入</h6>
        </div>
        <h6 class="author">Post by just4Magic</h6>
      </div>
      <%#= render partial: "discover_microposts", locals: { micropost: @pin_micropost } %>
      <%= render partial: "discover_microposts", collection: @discover_microposts, as: :micropost  %>
      <%= link_to '更多', shuffle_microposts_path, class: 'btn-shuffle span4' %>

    </div>
    <div class="center">
      <%#= will_paginate @discover_microposts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>

</div>

