<div class="row all-posts">
  <%= render('cover-micropost') %>

  <div class="microposts-title span12">
    <h4 class="inline">看看其他？</h4>
    <div class="icons pull-right">
      <%= link_to(shuffle_again_microposts_path, remote: true) do %>
          <i class="icon-random icon-2x"></i>
      <% end %>
    </div>
  </div>

  <%= render('microposts/microposts') %>

</div>
