<div class="header">
  <div class="logo">
    <h1>Cool Sites</h1>
  </div>

  <div class="nav">
    <%= link_to "Shuffle it", shuffle_sites_path %>

  </div>

</div>

<% if @sites %>
<div class="row">
  <div class="span12">
    <div class="row sites">
      <% @sites.each do |site| %>
          <div class="span4">
            <%= render site %>
          </div>

      <% end %>
    </div>

  </div>

  <!--<div class="span3 offset1">-->
    <!--<#% @sites.each do |site| %>-->
        <!--<h5><#%= link_to site.title, site.site_url %></h5>-->
    <!--<#% end %>-->
  <!--</div>-->

</div>
<% end %>





