<div class="header">
  <div class="logo">
    <h1>Cool Sites</h1>
  </div>

  <div class="nav">
    <%= link_to "Shuffle it", shuffle_sites_path %>

  </div>

</div>

<% if @sites %>
<div class="row sites">
  <% @sites.each do |site| %>
    <div class="span4">
       <%= render site %>
    </div>

  <% end %>


</div>



<% end %>





