<div class="header">
  <h1 class="cover-title">Magicf4l</h1>
  <%= link_to "Shuffle", shuffle_microposts_path %>
  <%= link_to "List", microposts_path %>
  <%= link_to "new", new_micropost_path %>
</div>

