<div class="header">
  <h3 class="cover-title pull-right">just4Magic</h3>
  <%= link_to "Shuffle", shuffle_microposts_path %>
  <%= link_to "List", microposts_path %>
  <%= link_to "Desktop", index2_microposts_path %>
  <%= link_to "new", new_micropost_path %>
</div>

